@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/NotoSans-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/NotoSans-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/NotoSans-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/NotoSans-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/NotoSans-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-Regular.ttf");
  font-weight: 400;
}

@layer components {
  .blue-btn {
    @apply px-2 py-1 font-semibold text-white text-center font-inter rounded-lg bg-blue-dark;
  }

  .blue-btn-inverted {
    @apply px-2 py-1 text-center font-inter font-medium text-blue-dark rounded-lg bg-white border-2 border-blue-dark;
  }

  .blue-btn-round {
    @apply px-3 text-sm font-semibold text-center rounded-full text-white bg-blue-dark;
  }

  .blue-btn-round-inverted {
    @apply px-3 text-blue-dark text-center font-inter font-medium bg-white border border-blue-dark rounded-full;
  }
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
